<template>
  <div class="home">
    <SolarCalculator />
  </div>
</template>

<script>
// @ is an alias to /src
import SolarCalculator from "@/components/SolarCalculator.vue";

export default {
  name: "Home",
  components: {
    SolarCalculator
  }
};
</script>
