<template>
  <v-container class="welcome py-8">
    <h1>{{ $t("welcome") }}</h1>
    <p class="py-12">{{ $t("welcome-message") }}</p>
    <v-btn color="primary" class="mt-8" @click="$router.push('/calculator')">{{
      $t("start")
    }}</v-btn>
  </v-container>
</template>
<style scoped>
.welcome {
  max-width: 968px;
  text-align: center;
  margin: 0 auto;
}
</style>
