<template>
  <v-main class="container">
    <v-row class="py-4" justify="space-around">
      <v-col
        align-items="center"
        v-for="device in deviceOptions"
        :key="device.name"
        cols="12"
        sm="3"
        @click="toggleDialog(device.name)"
      >
        <v-row justify="center" class="pb-12">
          <v-btn
            color="secondary"
            fab
            :min-width="isMobile ? 40 : 150"
            :min-height="isMobile ? 40 : 150"
            class="mb-4"
          >
            <v-img
              :src="device.icon"
              :alt="device.name"
              class="shrink mr-2 mt-4"
              contain
              transition="scale-transition"
              :width="isMobile ? 40 : 100"
              :max-height="isMobile ? 40 : 100"
            />
          </v-btn>
          <v-btn block :outlined="!isMobile">{{ $t(device.name) }}</v-btn>
        </v-row>
      </v-col>
    </v-row>
    <div v-if="!hasSelected" class="subtitle text-center pt-4 divider">
      {{ $t("select-device") }}
    </div>
    <div v-else class="my-4">
      <h2>Selecionados</h2>
      <hr />
    </div>
    <v-row>
      <v-col
        class="text-center"
        v-for="device in addedDevices"
        :key="device.id"
        cols="6"
        sm="3"
        md="2"
      >
        <div class="selected-device">
          <v-btn
            fab
            color="primary"
            max-width="35px"
            max-height="35px"
            class="close"
            fixed
            @click="$emit('removeDevice', device.id)"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-img
            :alt="device.name"
            :src="device.icon"
            class="shrink mr-2 mt-n8"
            contain
            transition="scale-transition"
            width="100"
          />
        </div>
        <div v-if="!isMobile">
          <div class="py-2">{{ device.model }}</div>
          <div>
            <v-icon color="secondary" class="pr-2"
              >mdi-weather-lightning</v-icon
            >
            <span>{{ device.power.volts * device.power.amps }} Wh</span>
          </div>
        </div>
      </v-col>
      <v-col cols="12" sm="6" md="2">
        <v-btn
          v-if="hasSelected"
          disabled
          rounded
          class="title py-8 px-4 my-12 total-consume"
          >{{ $t("total") }}: {{ deviceTotalConsume }} Wh</v-btn
        >
      </v-col>
    </v-row>
    <RouterDialog
      :show="dialog === 'router'"
      @close="toggleDialog"
      @add="add"
    />
    <SingleBoardComputerDialog
      :dialog="dialog === 'single-board'"
      @close="toggleDialog"
      @add="add"
    />
    <MicroControllerDialog
      :dialog="dialog === 'micro-controller'"
      @close="toggleDialog"
      @add="add"
    />
    <OtherDialog
      :dialog="dialog === 'other'"
      @close="toggleDialog"
      @add="add"
    />
  </v-main>
</template>
<script>
import RouterDialog from "@/components/dialogs/Router.vue";
import SingleBoardComputerDialog from "@/components/dialogs/SingleBoardComputer.vue";
import MicroControllerDialog from "@/components/dialogs/MicroController.vue";
import OtherDialog from "@/components/dialogs/Other.vue";

export default {
  name: "Devices",
  components: {
    RouterDialog,
    SingleBoardComputerDialog,
    MicroControllerDialog,
    OtherDialog
  },
  props: {
    deviceTotalConsume: Number,
    addedDevices: Array,
    hasSelected: Boolean,
    deviceOptions: Array
  },
  data() {
    return {
      dialog: null
    };
  },
  computed: {
    isMobile() {
      return this.$vuetify.breakpoint.xs;
    }
  },
  methods: {
    add(device) {
      this.toggleDialog();
      this.$emit("addDevice", device);
    },
    toggleDialog(dialog) {
      if (this.dialog === null) this.dialog = dialog;
      else this.dialog = null;
    }
  }
};
</script>
<style scoped>
.container {
  max-width: 968px;
  min-height: calc(100vh - 280px);
}
.selected-device {
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
h3 {
  min-width: 200px;
  text-align: center;
  margin: 0 auto;
  padding-top: 8px;
}
.close {
  position: relative;
  top: -30px;
  left: -45px;
}
.divider {
  text-transform: uppercase;
}
</style>
