<template>
  <v-main class="container pb-12" justify="center">
    <!-- <p class="text-box">{{ $t("enter-location") }}</p>
    <v-row class="py-8">
      <v-col cols="10" xs="8">
        <v-text-field
          max="24"
          min="1"
          v-model="locationText"
          :label="$t('location-text')"
          type="text"
        ></v-text-field>
      </v-col>
      <v-col cols="2" xs="4">
        <v-btn color="primary">
          <v-icon>mdi-target</v-icon>
        </v-btn>
      </v-col>
    </v-row>-->
    <v-row>
      <v-col cols="12" class="py-4">
        <span class="subtitle">{{ $t("manually-add") }}</span>
      </v-col>
      <v-col cols="12" :sm="6">
        <v-text-field
          max="24"
          min="1"
          :label="$t('radiation-time')"
          v-model="data"
          :value="sunTime"
          type="number"
        ></v-text-field>
      </v-col>
    </v-row>
  </v-main>
</template>
<script>
// import getSolCast from "@/lib/getSolCast.js";

export default {
  name: "Radiation",
  components: {},
  props: {
    deviceTotalConsume: Number,
    sunTime: Number
  },
  data() {
    return {
      locationText: "Moinho, Alto Paraíso, Goiás, Brasil"
    };
  },
  mounted() {
    // getSolCast();
  },
  methods: {
    // change(e) {
    //   console.log("ER", e);
    // }
  },
  computed: {
    data: {
      set(e) {
        const num = parseInt(e);
        return this.$emit("updateSunTime", num);
      },
      get() {
        return this.sunTime;
      }
    }
  }
};
</script>
<style scoped>
.container {
  max-width: 968px;
  min-height: calc(100vh - 280px);
  margin: 0 auto;
  text-align: center;
}
.text-box {
  text-align: left;
  margin: 0 auto;
}
</style>
