<template>
  <v-main class="container">
    <v-row justify="center">
      <v-col :cols="12" :sm="3">
        <v-text-field
          max="100"
          min="0"
          :label="$t('battery-discharge-model')"
          v-model="dischargeModel"
          type="number"
        ></v-text-field>
      </v-col>
      <v-col :cols="12" :sm="3">
        <v-text-field
          max="100"
          min="0"
          :label="$t('loss')"
          v-model="loss"
          type="number"
        ></v-text-field>
      </v-col>
      <v-col :cols="12" :sm="3">
        <v-text-field
          max="24"
          min="1"
          v-model="autonomy"
          :label="$t('autonomy')"
          type="number"
        ></v-text-field>
      </v-col>
    </v-row>
    <v-row justify="center" class="pb-12">
      <v-col md="3" xs="12">
        <v-card class="py-4 px-4" elevation="8">
          <v-card-title>
            <span class="title">{{ $t("panel") }}</span>
          </v-card-title>
          <v-card-text>
            <v-img
              :src="require('@/assets/panel.svg')"
              alt="panel"
              class="shrink mr-2 mt-4"
              contain
              transition="scale-transition"
              width="100"
              max-height="100"
            />
          </v-card-text>
          <v-card-subtitle>{{ panelPower }} Wp</v-card-subtitle>
        </v-card>
      </v-col>
      <v-col md="3" xs="12">
        <v-card class="py-4 px-4" elevation="8">
          <v-card-title>
            <span class="title">{{ $t("battery") }}</span>
          </v-card-title>
          <v-card-text>
            <v-img
              :src="require('@/assets/battery.svg')"
              alt="panel"
              class="shrink mr-2 mt-4"
              contain
              transition="scale-transition"
              width="100"
              max-height="100"
            />
          </v-card-text>
          <v-card-subtitle>
            <span v-if="batteriesInSeries > 1">
              {{ batteriesInSeries }}
              <v-icon class="px-4" size="16px">mdi-close</v-icon>
            </span>
            {{ batteryAh }}mAh
          </v-card-subtitle>
        </v-card>
      </v-col>
      <v-col md="3" xs="12">
        <v-card class="py-4 px-4" elevation="8">
          <v-card-title>
            <span class="title">{{ $t("charge-controller") }}</span>
          </v-card-title>
          <v-card-text>
            <v-img
              :src="require('@/assets/controller.svg')"
              alt="panel"
              class="shrink mr-2 mt-4"
              contain
              transition="scale-transition"
              width="100"
              max-height="100"
            />
          </v-card-text>
          <v-card-subtitle>{{ chargeController }}A</v-card-subtitle>
        </v-card>
      </v-col>
    </v-row>
    <!-- <v-row justify="space-around" class="pt-12">
      <v-col md="6" xs="12">
        <v-btn>{{ $t("save-pdf") }}</v-btn>
      </v-col>
      <v-col md="6" xs="12">
        <v-btn>{{ $t("where-to-buy") }}</v-btn>
      </v-col>
    </v-row>-->
  </v-main>
</template>
<script>
export default {
  name: "Results",
  components: {},
  props: {
    deviceTotalConsume: Number,
    sunTime: Number,
    maxLoad: Number
  },
  data() {
    return {
      dischargeModel: 50,
      loss: 10,
      autonomy: 24,
      comercialPanels: [5, 10, 30, 60, 80, 100, 100, 120, 160, 180, 200, 220],
      comercialBatteries: [6, 10, 20, 40, 60, 80, 100, 120, 160, 200, 220],
      comercialChargeControllers: [10, 20, 30, 40, 50, 60, 100]
    };
  },
  computed: {
    dailyConsume() {
      return this.autonomy * this.deviceTotalConsume;
    },
    batteryWh() {
      return (
        this.dailyConsume * 3 +
        (100/this.dischargeModel * this.dailyConsume)  +
        (this.loss / 100) * this.dailyConsume
      );
    },
    batteriesInSeries() {
      return this.maxLoad / 12;
    },
    batteryPower() {
      if (this.maxLoad > 0) {
        const exact = this.batteryWh / this.maxLoad;
        return Math.round(exact) / this.batteriesInSeries;
      } else return 0;
    },
    batteryAh() {
      const comercials = this.comercialBatteries.filter(
        b => b - this.batteryPower > 0
      );
      if (comercials[0]) return comercials[0];
      else return this.batteryPower;
    },
    panelPower() {
      const round = Math.round((this.dailyConsume + 0.3*this.dailyConsume) / this.sunTime);
      const comercials = this.comercialPanels.filter(p => p - round > 0);
      if (comercials[0]) return comercials[0];
      else return round;
    },
    chargeController() {
      const round = Math.round(this.batteryPower / 5);
      const comercials = this.comercialChargeControllers.filter(
        c => c - round > 0
      );
      if (comercials[0]) return comercials[0];
      else return round;
    }
  }
};
</script>
<style scoped>
.container {
  /* max-width: 968px; */
  min-height: calc(100vh - 280px);
  margin: 0 auto;
}
</style>
