<template>
  <div>
    <v-stepper v-model="stepper">
      <v-stepper-header>
        <v-stepper-step :complete="stepper > 1" step="1">
          {{ $t("choose-devices") }}
        </v-stepper-step>

        <v-divider></v-divider>

        <v-stepper-step :complete="stepper > 2" step="2">{{
          $t("solar-settings")
        }}</v-stepper-step>

        <v-divider></v-divider>

        <v-stepper-step step="3">{{ $t("result") }}</v-stepper-step>
      </v-stepper-header>

      <v-stepper-items>
        <v-stepper-content step="1">
          <Devices
            @addDevice="addDevice"
            @removeDevice="removeDevice"
            :deviceTotalConsume="deviceTotalConsume"
            :addedDevices="addedDevices"
            :hasSelected="hasSelectedDevice"
            :deviceOptions="deviceOptions"
          />
          <v-btn
            :disabled="!hasSelectedDevice"
            color="primary"
            @click="stepper = 2"
            >{{ $t("continue") }}</v-btn
          >
        </v-stepper-content>

        <v-stepper-content step="2">
          <Radiation
            @updateSunTime="updateSunTime"
            :sunTime="sunTime"
            :deviceTotalConsume="deviceTotalConsume"
          />
          <v-btn @click="stepper = stepper - 1" text>{{ $t("go-back") }}</v-btn>

          <v-btn color="primary" @click="stepper = 3">
            {{ $t("continue") }}
          </v-btn>
        </v-stepper-content>

        <v-stepper-content step="3">
          <Result
            :deviceTotalConsume="deviceTotalConsume"
            :sunTime="sunTime"
            :maxLoad="maxLoad"
          />
          <v-btn @click="stepper = stepper - 1" text>{{ $t("go-back") }}</v-btn>

          <v-btn color="secondary" @click="restart">{{ $t("restart") }}</v-btn>
        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>
  </div>
</template>

<script>
import Devices from "./Devices";
import Radiation from "./Radiation";
import Result from "./Result";

export default {
  name: "SolarCalculator",
  components: {
    Devices,
    Radiation,
    Result
  },
  data() {
    return {
      stepper: 1,
      addedDevices: [],
      deviceOptions: [
        {
          name: "router",
          icon: require("@/assets/router.svg")
        },
        // {
        //   name: "single-board-computer",
        //   icon: require("@/assets/pi.svg")
        // },
        // {
        //   name: "micro-controller",
        //   icon: require("@/assets/micro-controller.svg")
        // },
        {
          name: "other",
          icon: require("@/assets/micro-controller.svg")
        }
      ],
      sunTime: 6
    };
  },
  methods: {
    addDevice(device) {
      const icon = this.deviceOptions.filter(d => d.name === device.type)[0]
        .icon;
      const id = Math.random().toString();
      /* TODO: FOR TESTING PURPOSES ONLY */
      if (!device.power) {
        const volts = 12;
        const amps = 1;
        device.power = { volts, amps };
      }

      this.addedDevices = this.addedDevices.concat({
        ...device,
        icon,
        id
      });
    },
    removeDevice(id) {
      this.addedDevices = this.addedDevices.filter(d => d.id !== id);
    },
    updateSunTime(n) {
      this.sunTime = n;
    },
    restart() {
      this.stepper = 1;
      this.addedDevices = [];
      this.sunTime = 6;
    }
  },
  computed: {
    hasSelectedDevice() {
      return this.addedDevices.length > 0;
    },
    maxLoad() {
      return this.addedDevices.reduce((prev, curr) => {
        if (curr.power.volts > prev) return curr.power.volts;
        else return prev;
      }, 0);
    },
    deviceTotalConsume() {
      return this.addedDevices.reduce((prev, curr) => {
        const total = curr.power.volts * curr.power.amps;
        return prev + total;
      }, 0);
    }
  }
};
</script>
<style scoped></style>
