<template>
  <v-app>
    <v-app-bar app color="primary" dark>
      <div class="d-flex align-center">
        <span class="mr-2 title">{{ $t("solar-calculator") }}</span>
        <v-img :src="require('@/assets/loading.gif')" max-width="45px"></v-img>
      </div>

      <v-spacer></v-spacer>

      <v-btn href="https://coolab.org" target="_blank" text>
        <v-img
          v-if="!$vuetify.breakpoint.xs"
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="./assets/logo.png"
          transition="scale-transition"
          width="100"
        />
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>
    </v-app-bar>
    <v-main>
      <router-view />
    </v-main>
    <v-footer class="text-center text-uppercase black--text" color="secondary">
      <v-col class="text-center caption" cols="12">
        <span>{{ $t("done-with") }}</span>
        <span class="px-2">❤️</span>
        <span>{{ $t("by") }}</span>
        <a
          style="text-decoration: none; color: #000;"
          class="px-2"
          href="https://coolab.org"
          target="_blank"
          >Coolab</a
        >
        <span>- {{ new Date().getFullYear() }}</span>
      </v-col>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  name: "App",
  created() {
    this.$vuetify.theme.dark = true;
  },
  data: () => ({
    //
  })
};
</script>
