<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" scrollable max-width="500px">
      <v-card>
        <v-card-title>{{ $t("custom-power-title") }}</v-card-title>
        <v-card-subtitle>{{ $t("custom-power-message") }}</v-card-subtitle>
        <v-divider></v-divider>
        <v-card-text class="pt-8" style="height: 300px;">
          <v-text-field
            :label="$t('device-volts')"
            v-model="volts"
          ></v-text-field>
          <v-text-field
            :label="$t('device-amps')"
            v-model="amps"
          ></v-text-field>
          <v-text-field
            :label="$t('device-name')"
            v-model="deviceName"
          ></v-text-field>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn color="primary darken-1" text @click="$emit('close')">
            {{ $t("cancel") }}
          </v-btn>
          <v-btn
            color="secondary darken-1"
            text
            @click="$emit('add', deviceInfo)"
            >{{ $t("add") }}</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
export default {
  props: {
    dialog: Boolean,
    close: Function
  },
  data() {
    return {
      volts: 12,
      amps: 1,
      deviceName: ""
    };
  },
  computed: {
    deviceInfo() {
      return {
        type: "other",
        model: this.deviceName,
        power: {
          volts: this.volts,
          amps: this.amps
        }
      };
    }
  }
};
</script>
