<template>
  <v-row justify="center">
    <v-dialog v-model="show" scrollable max-width="500px">
      <v-card>
        <v-card-title>{{ $t("select-model") }}</v-card-title>
        <v-divider></v-divider>
        <v-card-text style="height: 300px;">
          <v-select
            v-model="selectedBrand"
            :items="brands"
            :label="$t('router-model')"
            outlined
          ></v-select>
          <v-radio-group v-if="selectedBrand" column>
            <v-radio
              v-for="router in brandList"
              :key="router.routerPath"
              :label="router.model"
              :value="router.model"
              @change="selectedModel = { ...router, type: 'router' }"
            ></v-radio>
          </v-radio-group>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn color="primary darken-1" text @click="$emit('close')">
            {{ $t("cancel") }}
          </v-btn>
          <v-btn
            color="secondary darken-1"
            text
            @click="$emit('add', selectedModel)"
            >{{ $t("add") }}</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import routerList from "@/assets/data/routers.json";
export default {
  props: {
    show: Boolean
  },
  data() {
    return {
      routerList,
      selectedModel: null,
      selectedBrand: null
    };
  },
  computed: {
    brands() {
      return Object.keys(routerList);
    },
    brandList() {
      return routerList[this.selectedBrand].sort();
    }
  }
};
</script>
